<div class="fullscreen">
  <div class="container">
    <div class="row pt-5 justify-content-center">
      <div class="col-md-8">
        <div class="card" style="max-height:650px;">
          <div class="card-body px-lg-5 py-lg-4">
            <h5 class="card-title text-center mb-4">Register</h5>
            <div *ngIf="!registrationCompleted">
              <form role="form" (ngSubmit)="register()" [formGroup]="registrationForm">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    formControlName="username"
                    placeholder="Username"
                    [ngClass]="{'is-invalid': displayMessages.username }"> 
                  <label for="floatingInput">Username</label>
                  <span class="text-danger" *ngIf="displayMessages.username">
                    <p class="error-message" [innerHTML]="displayMessages.username"></p>
                  </span>
                </div>      
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="fullName"
                    formControlName="fullName"
                    placeholder="Full Name"
                    [ngClass]="{'is-invalid': displayMessages.fullName }"> 
                  <label for="floatingInput">Full Name</label>
                  <span class="text-danger" *ngIf="displayMessages.fullName">
                    <p class="error-message" [innerHTML]="displayMessages.fullName"></p>
                  </span>
                </div>       
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    formControlName="email"
                    placeholder="email"
                    [ngClass]="{'is-invalid': displayMessages.email }"> 
                  <label for="floatingInput">Email</label>
                  <span class="text-danger" *ngIf="displayMessages.email">
                    <p class="error-message" [innerHTML]="displayMessages.email"></p>
                  </span>
                </div>    
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    formControlName="password"
                    placeholder="password"
                    [ngClass]="{'is-invalid': displayMessages.password }"> 
                  <label for="floatingInput">Password</label>
                  <span class="text-danger" *ngIf="displayMessages.password">
                    <p class="error-message" [innerHTML]="displayMessages.password"></p>
                  </span>
                </div> 
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    formControlName="confirmPassword"
                    placeholder="Confirm Password"
      
                    [ngClass]="{'is-invalid': displayMessages.confirmPassword }"> 
                  <label for="floatingInput">Confirm Password</label>
                  <span class="text-danger" *ngIf="displayMessages.confirmPassword">
                    <p class="error-message" [innerHTML]="displayMessages.confirmPassword"></p>
                  </span>
                </div>   
                <div class="text-center">
                  <button class="btn btn-primary my-4" type="submit"
                    [disabled]="!registrationForm.valid">
                    Register
                  </button>
                </div>
              </form>
            </div>
            <div class="my-5 text-center" *ngIf="registrationCompleted">
              <h4>Success!</h4>
              <p class="fs-5">Please click on the confirmation link we sent to your email to complete your registration</p>
              <a class="my-2" style="
              color: green;
              font-size: 50px;"><i class="fa-solid fa-circle-check"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>