<app-menu></app-menu>
   <div style=" padding:0px;
   height:100%;
   width: 100%;
   position:fixed;
   background: white;">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="list-group w-auto bg-white">
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" style="  background-color: #f8f9fa;">
                    <i class="fa-solid fa-at text-primary" style="font-size: 25px;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                        <h6 class="mb-0">Email:</h6>
                        <p class="mb-0 opacity-75"> {{user.email}}</p>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="  background-color: #f8f9fa;">
                    <i class="fa-solid fa-user text-primary" style="font-size: 25px;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                        <h6 class="mb-0">Username:</h6>
                        <p class="mb-0 opacity-75"> {{user.username}}</p>
                        </div>
                       <a style="cursor:pointer;" (click)="openUsernameModal()">
                        <i class="fa-solid fa-pen"></i>
                       </a> 
                    </div>
                </a>
                <a class="list-group-item list-group-item-action d-flex gap-3 py-3" style="  background-color: #f8f9fa;">
                    <i class="fa-solid fa-id-badge text-primary" style="font-size: 25px;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                        <h6 class="mb-0">Full Name:</h6>
                        <p class="mb-0 opacity-75"> {{user.fullName}}</p>
                        </div>
                        <a style="cursor:pointer;" (click)="openFullNameModal()">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </div>
                </a>                
                <a class="list-group-item list-group-item-action d-flex gap-3 py-3" style="  background-color: #f8f9fa;">
                    <i class="fa-solid fa-key text-primary" style="font-size: 25px;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                        <h6 class="mb-0">Password:</h6>
                        <p class="mb-0 opacity-75"> .......</p>
                        </div>
                        <a style="cursor:pointer;" (click)="openPasswordModal()">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </div>
                </a>
                         
              </div>            
        </div>        
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-1">
            <button type="button" class="btn btn-danger" (click)="openInactivateModal()">Inactivate</button>
        </div>
    </div>
</div>
