// @import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: red;
  }

  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #f8f9fa;
  }